.Characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  width: 324px;
  height: 424px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 5px 5px #ccc;
  margin: 10px;
}

.favorite {
  display: flex;
  margin: 5px 80px;
  gap: 8px;
}

.favorite > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 1px 5px 5px #ccc;

  
}

figure {
  margin: 0;
  display: flex;
  justify-content: center;
}

img {
  width: 320px;
  height: 300px;
  border-radius: 10px;
  
}

h2 {
  margin: 10px;
  color: #333;
}

.detail {
  color: #333;
  display: flex;
  justify-content: space-around;
}

button:hover {
  background-color: tomato;
  color: #fff;
}